In [6]:
import pandas as pd

products = [['chips','Simba','Lays'],['Cooldrinks','Coke','Fanta'],
            ['Chocolates','Cardbury','Tax'],['Cupcakes','Vanilla','Chocolate'],
            ['Fruit','Orange','Apple','Pear'],['Vaggies','Cabbage','Spinach'] ]
df = pd.DataFrame(products, columns = ['Product Type','Product 1','Product 2','Prodct 3'])
df

  Product Type Product 1  Product 2 Prodct 3
0        chips     Simba       Lays     None
1   Cooldrinks      Coke      Fanta     None
2   Chocolates  Cardbury        Tax     None
3     Cupcakes   Vanilla  Chocolate     None
4        Fruit    Orange      Apple     Pear
5      Vaggies   Cabbage    Spinach     None